main{
    .nosotros{
        text-align: center;
        h2{
            font-size: 3rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .nosotros-dos{
        text-align: center;
        h3{
           font-size: 2rem;
        }
        p{
          font-size: 1.5rem;
          margin-bottom: 285px;
        }

     }
    
}

@media screen and(max-width:1024px) {
    .nosotros{
        h2{
            @include nosotros-h3primeramq;
        }

        p{
            font-size: 1.2rem;
        }
    }

    .nosotros-dos{
        h3{
           @include nosotros-h3primeramq;
        }

        p{
            font-size: 1.2rem;
        }
    }
}

@media screen and(max-width:520px) {
    .nosotros{
        h2{
            @include nosotros-h3segundamq;
        }

        p{
            font-size: 1.3rem;
        }
    }

    .nosotros-dos{
        h3{
           @include nosotros-h3segundamq;
        }

        p{
            font-size: 1.3rem;
        }
    }
}