
@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin hover-img {
    box-shadow: 1px 1px 15px;
    transform: scale(1.02);
    transition-property: all;
    transition-duration: 0.3s;  
}

@mixin margin-h3 {

    margin-bottom: 3px;
    
}
@mixin contacto {
    color: $color-textos;
    font-size: 2rem;
    text-shadow: 2px 3px 9px;
}

@mixin contactomq {
    color: $color-textos;
    font-size: 1.5rem;
    text-shadow: 2px 3px 9px;
}

@mixin imagenes-mq {
    width: 250px;
    height: 250px;
    font-size: 2rem;
}

@mixin conjunto-mq {
    width: 250px;
    padding: 10px;
    transition: 0.5s;  
}


@mixin nosotros-h3segundamq {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

@mixin nosotros-h3primeramq {
    font-size: 40px;
    text-align: center;
    margin: 25px;
}

@mixin conjunto-segundaMQ {
    
    width: 200px;
    padding: 10px;
    transition: 0.5s;
}